In [1]:
import numpy as np
import pandas as pd
import os

In [89]:
df = pd.DataFrame(index=[0,1,2,3,4,5,6])
df.index.name='Label2'
for dirname,_,filenames in os.walk('.\data'):
    for filename in filenames:
        dir_depth = len(dirname.split(os.path.sep))
        if dir_depth <= 2:
            file = os.path.join(dirname,filename)
            emg_data = pd.read_csv(file)
            info = emg_data.Label2.value_counts()
            df[filename] = info
            #print(info)
#df.to_csv('data_info.csv',index=True)
df.to_csv('data_info.txt',sep='\t',index=True)

In [55]:
with open('data_info.txt','w') as f:
    for dirname,_,filenames in os.walk('.\data'):
        for filename in filenames:
            dir_depth = len(dirname.split(os.path.sep))
            if dir_depth <= 2:
                emg_data = pd.read_csv(file)
                info = emg_data.Label2.value_counts()
                f.write(filename+'\n')
                f.write()
                print(os.path.join(dirname,filename))
                print(dir_depth)

.\data\G04_FoG_trial_1_emg.csv
2
.\data\G04_FoG_trial_2_emg.csv
2
.\data\G06_FoG_trial_1_emg.csv
2
.\data\G06_FoG_trial_2_emg.csv
2
.\data\G06_FoG_trial_3_emg.csv
2
.\data\G07_Freezing_Trial1_trial_1_emg.csv
2
.\data\G08_FoG_1_trial_1_emg.csv
2
.\data\G08_FoG_2_trial_1_emg.csv
2
.\data\G11_FoG_trial_1_emg.csv
2
.\data\G11_FoG_trial_2_emg.csv
2
.\data\P379_M050_2_OFF_A_FoG_trial_1_emg.csv
2
.\data\P379_M050_2_OFF_A_FoG_trial_2_emg.csv
2
.\data\P379_M050_2_OFF_A_FoG_trial_3_emg.csv
2
.\data\P379_M050_2_OFF_B_FoG_trial_1_emg.csv
2
.\data\P379_M050_2_OFF_B_FoG_trial_2_emg.csv
2
.\data\P379_M050_2_OFF_B_FoG_trial_3_emg.csv
2
.\data\P551_M050_2_A_FoG_trial_1_emg.csv
2
.\data\P551_M050_2_B_FoG_trial_1_emg.csv
2
.\data\P551_M050_2_B_FoG_trial_2_emg.csv
2
.\data\P812_M050_2_B_FoG_trial_1_emg.csv
2
.\data\P812_M050_2_B_FoG_trial_2_emg.csv
2

In [25]:
emg_data = pd.read_csv('.\data\P812_M050_2_B_FoG_trial_2_emg.csv')

In [56]:
pd.Series(emg_data.Label2.value_counts()).tolist()

[30330, 28329, 9245, 5402]

In [81]:
df = pd.DataFrame(index=[0,1,2,3,4,5,6])

In [62]:
try:
    df.Label2
except AttributeError:
    print('error')
else:
    print('no error')

erro

In [72]:
df = pd.DataFrame(index=[0,1,2,3,4,5,6])
for dirname,_,filenames in os.walk('E:\Document\教材\Master thesis\data'):
    for filename in filenames:
        dir_depth = len(dirname.split(os.path.sep))
        if dir_depth == 5:
            if filename.endswith('.csv'):
                file = os.path.join(dirname,filename)
                emg_data = pd.read_csv(file)
                try:
                    emg_data.Label2
                except AttributeError:
                    continue
                else:
                    info = emg_data.Label2.value_counts()
                    df[filename] = info
                print(info)
            #print(os.path.join(dirname,filename))
df.to_csv('whole_data_info.csv',index=True)
#df.to_csv('whole_data_info.txt',sep='\t',index=True)

0    16416
Name: Label2, dtype: int64
0    22736
Name: Label2, dtype: int64
0    19041
Name: Label2, dtype: int64
0    33511
Name: Label2, dtype: int64
0    42426
Name: Label2, dtype: int64
0    22606
Name: Label2, dtype: int64
0    42966
Name: Label2, dtype: int64
0    28796
Name: Label2, dtype: int64
0    28891
Name: Label2, dtype: int64
0    25281
Name: Label2, dtype: int64
0    20021
Name: Label2, dtype: int64
0    21336
Name: Label2, dtype: int64
0    30896
Name: Label2, dtype: int64
0    21561
Name: Label2, dtype: int64
0    27251
Name: Label2, dtype: int64
0    23501
Name: Label2, dtype: int64
0    26711
Name: Label2, dtype: int64
0    26901
Name: Label2, dtype: int64
0    23301
Name: Label2, dtype: int64
0    23756
Name: Label2, dtype: int64
0    26746
Name: Label2, dtype: int64
0    25241
Name: Label2, dtype: int64
0    22231
Name: Label2, dtype: int64
0    26941
Name: Label2, dtype: int64
0    22481
Name: Label2, dtype: int64
0    28146
Name: Label2, dtype: int64
0    27461
Name: Label2, dtype: int64
0    20646
Name: Label2, dtype: int64
0    26096
Name: Label2, dtype: int64
0    24831
Name: Label2, dtype: int64
0    23551
Name: Label2, dtype: int64
0    24061
Name: Label2, dtype: int64
0    26291
Name: Label2, dtype: int64
0    20911
Name: Label2, dtype: int64
0    20776
Name: Label2, dtype: int64
0    26191
Name: Label2, dtype: int64
0    26046
Name: Label2, dtype: int64
0    26956
Name: Label2, dtype: int64
0    26506
Name: Label2, dtype: int64
0    21126
Name: Label2, dtype: int64
0    24241
Name: Label2, dtype: int64
0    29271
Name: Label2, dtype: int64
0    27801
Name: Label2, dtype: int64
0    27156
Name: Label2, dtype: int64
0    30411
Name: Label2, dtype: int64
0    33926
Name: Label2, dtype: int64
0    31152
Name: Label2, dtype: int64
0    31311
Name: Label2, dtype: int64
0    27931
Name: Label2, dtype: int64
0    22951
Name: Label2, dtype: int64
0    14961
Name: Label2, dtype: int64
0    24016
Name: Label2, dtype: int64
0    26526
Name: Label2, dtype: int64
0    26491
Name: Label2, dtype: int64
0    24001
Name: Label2, dtype: int64
0    26311
Name: Label2, dtype: int64
0    21226
Name: Label2, dtype: int64
0    35466
Name: Label2, dtype: int64
0    24301
Name: Label2, dtype: int64
0    22561
Name: Label2, dtype: int64
0    24651
Name: Label2, dtype: int64
0    21031
Name: Label2, dtype: int64
0    18631
Name: Label2, dtype: int64
0    26906
Name: Label2, dtype: int64
0    22311
Name: Label2, dtype: int64
0    25386
Name: Label2, dtype: int64
0    24641
Name: Label2, dtype: int64
0    24606
Name: Label2, dtype: int64
0    41301
Name: Label2, dtype: int64
0    38566
Name: Label2, dtype: int64
0    46086
Name: Label2, dtype: int64
0    42801
Name: Label2, dtype: int64
0    36651
Name: Label2, dtype: int64
0    45816
Name: Label2, dtype: int64
0    22181
Name: Label2, dtype: int64
0    33151
Name: Label2, dtype: int64
0    28711
Name: Label2, dtype: int64
0    24271
Name: Label2, dtype: int64
0    37541
Name: Label2, dtype: int64
0    26626
Name: Label2, dtype: int64
0    24036
Name: Label2, dtype: int64
0    25951
Name: Label2, dtype: int64
0    37046
Name: Label2, dtype: int64
0    30556
Name: Label2, dtype: int64
0    28136
Name: Label2, dtype: int64
0    36001
Name: Label2, dtype: int64
0    31161
Name: Label2, dtype: int64
0    32906
Name: Label2, dtype: int64
0    32646
Name: Label2, dtype: int64
0    62171
Name: Label2, dtype: int64
0    38916
Name: Label2, dtype: int64
0    36336
Name: Label2, dtype: int64
0    33001
Name: Label2, dtype: int64
0    32861
Name: Label2, dtype: int64
0    29816
Name: Label2, dtype: int64
2    7878
0    5060
1    1568
3     986
4     474
Name: Label2, dtype: int64
2    7878
0    5060
1    1568
3     986
4     474
Name: Label2, dtype: int64
2    7878
0    5060
1    1568
3     986
4     474
Name: Label2, dtype: int64
2    7878
0    5060
1    1568
3     986
4     474
Name: Label2, dtype: int64
0    6053
2    5673
1    1853
3    1082
Name: Label2, dtype: int64
0    6053
2    5673
1    1853
3    1082
Name: Label2, dtype: int64
0    6053
2    5673
1    1853
3    1082
Name: Label2, dtype: int64
0    6053
2    5673
1    1853
3    1082
Name: Label2, dtype: int64
0    30241
Name: Label2, dtype: int64
0    31916
Name: Label2, dtype: int64
0    32336
Name: Label2, dtype: int64
0    33006
Name: Label2, dtype: int64
0    27276
Name: Label2, dtype: int64
0    26246
Name: Label2, dtype: int64
0    36731
Name: Label2, dtype: int64
0    35561
Name: Label2, dtype: int64
0    34921
Name: Label2, dtype: int64
0    31356
Name: Label2, dtype: int64
0    28896
Name: Label2, dtype: int64
0    25406
Name: Label2, dtype: int64
0    23671
Name: Label2, dtype: int64
0    28551
Name: Label2, dtype: int64
0    27571
Name: Label2, dtype: int64
0    24351
Name: Label2, dtype: int64
0    22096
Name: Label2, dtype: int64
0    41822
Name: Label2, dtype: int64
0    41016
Name: Label2, dtype: int64
0    42211
Name: Label2, dtype: int64
0    26411
Name: Label2, dtype: int64
0    29226
Name: Label2, dtype: int64
0    22876
Name: Label2, dtype: int64
0    21856
Name: Label2, dtype: int64
0    11436
Name: Label2, dtype: int64
0    25286
Name: Label2, dtype: int64
0    26671
Name: Label2, dtype: int64
0    20761
Name: Label2, dtype: int64
0    23366
Name: Label2, dtype: int64
0    23931
Name: Label2, dtype: int64
0    22946
Name: Label2, dtype: int64
0    26231
Name: Label2, dtype: int64
0    20351
Name: Label2, dtype: int64
0    23016
Name: Label2, dtype: int64
0    25286
Name: Label2, dtype: int64
0    24006
Name: Label2, dtype: int64
0    15996
Name: Label2, dtype: int64
0    28531
Name: Label2, dtype: int64
0    21731
Name: Label2, dtype: int64
0    39846
Name: Label2, dtype: int64
0    23106
Name: Label2, dtype: int64
0    23661
Name: Label2, dtype: int64
0    23781
Name: Label2, dtype: int64
0    24021
Name: Label2, dtype: int64
0    25221
Name: Label2, dtype: int64
0    23716
Name: Label2, dtype: int64
0    26321
Name: Label2, dtype: int64
0    25006
Name: Label2, dtype: int64
0    25116
Name: Label2, dtype: int64
0    22186
Name: Label2, dtype: int64
0    20816
Name: Label2, dtype: int64
0    23031
Name: Label2, dtype: int64
0    24056
Name: Label2, dtype: int64
0    20086
Name: Label2, dtype: int64
0    22546
Name: Label2, dtype: int64
0    23756
Name: Label2, dtype: int64
0    20441
Name: Label2, dtype: int64
0    21856
Name: Label2, dtype: int64

In [84]:
df

,G04_FoG_trial_1_emg.csv,G04_FoG_trial_2_emg.csv,G06_FoG_trial_1_emg.csv,G06_FoG_trial_2_emg.csv,G06_FoG_trial_3_emg.csv,G07_Freezing_Trial1_trial_1_emg.csv,G08_FoG_1_trial_1_emg.csv,G08_FoG_2_trial_1_emg.csv,G11_FoG_trial_1_emg.csv,G11_FoG_trial_2_emg.csv,...,P379_M050_2_OFF_A_FoG_trial_2_emg.csv,P379_M050_2_OFF_A_FoG_trial_3_emg.csv,P379_M050_2_OFF_B_FoG_trial_1_emg.csv,P379_M050_2_OFF_B_FoG_trial_2_emg.csv,P379_M050_2_OFF_B_FoG_trial_3_emg.csv,P551_M050_2_A_FoG_trial_1_emg.csv,P551_M050_2_B_FoG_trial_1_emg.csv,P551_M050_2_B_FoG_trial_2_emg.csv,P812_M050_2_B_FoG_trial_1_emg.csv,P812_M050_2_B_FoG_trial_2_emg.csv
Label2,,,,,,,,,,,,,,,,,,,,,
0,37548.0,28246.0,24774.0,21965.0,21360.0,28706.0,42447.0,25244.0,19924.0,17544.0,...,16089.0,16143.0,20448.0,17692.0,16204.0,5260.0,19597.0,16837.0,25373.0,30330.0
1,12202.0,14884.0,NaN,NaN,NaN,30882.0,48201.0,158281.0,560.0,NaN,...,NaN,721.0,NaN,1160.0,3121.0,NaN,11001.0,NaN,7808.0,9245.0
2,19362.0,25561.0,10362.0,9121.0,9441.0,25721.0,65005.0,93126.0,8482.0,3522.0,...,8242.0,4962.0,NaN,5283.0,6641.0,17801.0,58528.0,52488.0,39366.0,28329.0
3,3800.0,7280.0,NaN,NaN,NaN,841.0,NaN,4560.0,NaN,NaN,...,NaN,NaN,7483.0,3041.0,NaN,NaN,600.0,961.0,4922.0,5402.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2362.0,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,74681.0,69843.0,81080.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3160.0,NaN,NaN,NaN,NaN